* {
    margin: auto;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.board {
    border: 10px solid rgb(87, 65, 5);
}

div {
    display: flex;
    justify-content: space-between;
}

.desktop {
    margin: 0;
    width: 100%;
}

.noneChecker {
    background-color: rgb(238, 230, 122);
}

td {
    text-align: center;
    background-color: rgb(61, 109, 240);
    width: 65px;
    height: 65px;
}

.whiteText {
    text-align: center;
    color: black;
    font-family: "open sans";
    font-size: 55px;
}

.blackText {
    text-align: center;
    font-family: "open sans";
    font-size: 55px;
    color: lightgray;
}

.checkerBlack {
    width: 20px;
    height: 20px;
    padding: 12px;
    background-color: black;
    border: 1px solid white;
    border-radius: 40px;
}
.checkerBlack:hover {
    border-radius: 100%;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.checkerWhite {
    width: 20px;
    height: 20px;
    padding: 12px;
    background-color: white;
    border-radius: 40px;
}

.checkerWhite:hover {
    border-radius: 100%;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

p {
    display: inline-block;
}

#divider {
    font-size: 90px;
    margin-left: 15px;
    margin-right: 15px;
}

span {
    display: inline-block;
}